{% block content %}
<div class="form__grid">
  {{ select({
    url: 'images/find',
    name: 'data[img]',
  }) }}
</div>
<div class="text-center">
  <img src="{{ img(data.img) }}" alt="" class="img-fluid">
</div>
{% endblock %}
