{% block content %}
  <h5>Kolumny</h5>
    {% for key,col in data.cols %}
      {{ input({
        type:'text',
        name:'data[cols]['~key~']',
        class: 'form-control',
        value: col
      }) }}
    {% endfor %}
  <hr>
  <h5>Wiersze</h5>
  {% for key,row in data.rows %}
    {% for i in 1..iterations %}
      {% set area = '<textarea name="data[rows]['~key~']['~i~']" cols="20" rows="1">'~row[i]~'</textarea>' %}
      {{ cycle(area, i)|raw }}
    {% endfor %}
    <br>
  {% endfor %}
{% endblock %}
