{% block content %}

  <a href="{{ img(component.data.img) }}" class="glightbox">
    <img src="{{ img(component.data.img) }}" alt="image">
  </a>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      const lightbox = GLightbox();
    });
  </script>
{% endblock %}
