{% block content %}

<div class="text-center">
  <a href="{{ img(component.data.img) }}" class="glightbox">
    <img class="img-fluid" src="{{ img(component.data.img) }}" alt="image">
  </a>
</div>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      const lightbox = GLightbox();
    });
  </script>
{% endblock %}
