{% extends layout %}

{% block content %}
  <div class="page__items">
    {% for component in components %}
      <div class="page__item">
        {% include 'http/Pages/'~component.type~'.twig' %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
