{% extends layout %}

{% block content %}
  {% for item in last_added  %}
    <div class="recent__item">
      <h3>{{ item.title }}</h3>
      <div class="d-flex justify-content-between mt-3">
        <p>Description</p> <span>{{ item.date|date('Y-m-d H:i') }}</span>
      </div>
      <a class="mt-4 pull-right" href="{{ url(item.link) }}">Czytaj wiecej &#187;</a>
    </div>
  {% endfor %}
{% endblock %}
