{% extends layout %}

{% block content %}
  <div class="box mx-3">
    <div class="box-header p-0">
      <h3 class="box-header main-color">
        <b>Dashboard</b>
      </h3>
    </div>
    <div class="box-body">
      <div class="recent__item">
        <h3>Test title</h3>
        <div class="d-flex justify-content-between px-3 mt-3">
          <p>Description</p> <span>19-09-2020 21:58</span>
        </div>
        <a class="mt-4 pull-right pr-3" href="{{ url() }}">Czytaj wiecej &#187;</a>
      </div>
      <div class="recent__item">
        <h3>Test title</h3>
        <div class="d-flex justify-content-between px-3 mt-3">
          <p>Description</p> <span>19-09-2020 21:58</span>
        </div>
        <a class="mt-4 pull-right pr-3" href="{{ url() }}">Czytaj wiecej &#187;</a>
      </div>
      <div class="recent__item">
        <h3>Test title</h3>
        <div class="d-flex justify-content-between px-3 mt-3">
          <p>Description</p> <span>19-09-2020 21:58</span>
        </div>
        <a class="mt-4 pull-right pr-3" href="{{ url() }}">Czytaj wiecej &#187;</a>
      </div>
    </div>
  </div>
{% endblock %}
