{% block content %}
  <div class="d-flex flex-column search__result">
    {% for item in items %}
      <a href="{{ url('items/show/'~item.name) }}" class="p-2">
        <img class="mr-3" src="{{ img(item.path~item.hash~'.'~item.ext) }}" alt="">
        <b>{{ item.name }}</b>
      </a>
    {% endfor %}
  </div>
{% endblock %}
