<aside class="wiki-box flex-column d-none d-xs-none d-sm-none d-md-none d-lg-flex d-xs-none d-xl-flex">
  <div class="menu-item">
      <i class="fa fa-pencil"></i>
      <p>Title</p>
  </div>
  <div class="is-parent">

  </div>
  <div class="menu-item">
    <i class="fa fa-envelope"></i>
    <p>Title Two</p>
  </div>
  <div class="menu-item">
    <i class="fa fa-magic"></i>
    <p>Example item</p>
  </div>
</aside>
