<aside class="flex-column d-none d-sm-none d-xs-none d-sm-none d-md-none d-lg-none d-xl-flex">
  <div class="box">
    <h3 class="box-header red">
      Recent Activity
    </h3>
    <div class="box-body">
      <div class="article">
        <p>text</p>
      </div>
      <div class="article">
        <p>text</p>
      </div>
      <div class="article">
        <p>text</p>
      </div>
    </div>

    <div class="box mt-4">
      <h3 class="box-header orange">
        Customer support ?
      </h3>
      <div class="box-body">
        <form data-action="question" method="post">
          <div class="d-flex justify-content-center align-items-center flex-column mx-3">
            <label style="width: 100%;"><input class="wiki-input mt-3" name="username" placeholder="username" style="width: 100%;"> </label>
            <label style="width: 100%;"><input class="wiki-input mt-3" name="email" placeholder="E-mail" style="width: 100%;"> </label>
            <textarea class="wiki-input my-3" style="height: 100px; width: 100%;" placeholder="Message" name="message"></textarea>
            <input class="mb-3" type="submit" style="width: 100%;" value="Wyślij">
          </div>
        </form>
      </div>
    </div>
  </div>
</aside>
