<aside class="d-flex flex-column">
  <div class="box">
    <h3 class="box-header">
      elo
    </h3>
    <div class="box-body">
      <div class="article">
        <p>text</p>
      </div>
    </div>
  </div>
</aside>
