{% extends layout %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-bordered table-dark sortable">
    <thead>
      <tr>
        <th class="no-sort">Name</th>
        <th>
          Status points
          &nbsp;
          <b style="color: green;">
            {{ points }}
          </b>
        </th>
      </tr>
    </thead>
    <tbody>
    {% for achievement in achievements %}
      <tr>
        <td>
          <b>{{ achievement.name }}</b>
        </td>
        <td>
          {{ achievement.status_points }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
