{% extends layout %}

{% block content %}
<div class="box">
  <h3>Utwórz nową tabelę</h3>
  <div>
    <button class="add__header">Dodaj nagłówek</button>
    <button class="add__record">Dodaj rekord</button>
  </div>
  <form data-action="creator/store">
    <h3>Nagłówki</h3>
    <div class="for__headers"></div>
    <h3>Tabela</h3>
    <div class="for__body"></div>
    {{ input({
      type:'submit',
      value: 'Zapisz'
    }) }}
  </form>
</div>

{% endblock %}
