{% extends layout %}

{% block content %}
 <div class="box">
   <table class="table table-striped">
     <thead>
     <tr>
       <td>Numer</td>
       <td>Nazwa</td>
       <td>Treść</td>
       <td class="position-sticky">
         #
       </td>
     </tr>
     </thead>
     <tbody>
     {% for achiv in achievements %}
       <tr>
         <td>{{ achiv.number }}</td>
         <td>{{ achiv.name }}</td>
         <td>{{ achiv.description }}</td>
         <td class="position-sticky">
           <button class="is_button btn-sm render" data-el="modal" data-url="achievements/edit/{{ achiv.id }}">Edycja</button>
         </td>
       </tr>
     {% endfor %}
     </tbody>
   </table>
 </div>
{% endblock %}
