:root {
  --mainbackground: #252e39;
  --textcolor: #d5d5d5;
  --icocolor: #d5d5d5;
  --orangecolor: #d77b31;
  --inputbackground: #313c4a;
  --inputborder: #43556a;
  --redcolor: #bf1a1a;
}

h1,h2,h3,h4,h5,h6,p,a,span,b {
  color: var(--textcolor);
  font-family: 'Nunito', sans-serif;
}

* {
  font-family: 'Nunito' sans-serif!important;
}

body {
  background: url("../../../storage/public/big.gif") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

a {
 color: var(--textcolor);
}

a:hover {
  text-decoration: none!important;
  transition: .6s;
}

a.link {
  color: var(--textcolor);
  transition: .6s;
}

a.loot__list:hover {
  background: var(--inputbackground);
}

.grid-box, .grid-box-header {
  display: grid;
  grid-template-columns: 10% 70% 20%;
}

#main-page-wrapper .main__box {
  margin-bottom: .6rem;
}

label {
  margin: 0!important;
}

span.err img {
  width: 20px;
}

[tooltip]:before {
  content: attr(tooltip);
  position: absolute;
  opacity: 0;
  transition: all 0.15s ease;
  padding: 2px 8px;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 black;
  width: 200px;
}

[tooltip]:hover:before {
  opacity: 1;
  background: #fbfbfb;
  margin-left: 20px;
  top: 22px;
}

[tooltip]:not([tooltip-persistent]):before {
  pointer-events: none;
  z-index: 500;
}

input, input:hover, button, textarea {
  background: var(--inputbackground);
  border: 1px solid var(--inputborder);
  color: white;;
  border-radius: 2px;
  padding: .2rem .6rem;
  height: 40px;
}

input::placeholder {
  color: #b9bec1;
}

.wiki-box {
  background: var(--mainbackground);
  padding: 0.6rem;
  border-radius: 5px;
  color: #949699;
}

.wiki-box__with_margin {
  margin: 0.6rem;
}

.big {
  padding: 0.8rem;
}

.big__with_margin {
  margin: 0.8rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .6s;
  text-decoration: none;
}

.menu-item:hover, .is__parent a:hover, a:hover {
  text-decoration: none;
}

.is__parent {
  display: none;
  z-index: 100;
  flex-direction: column;
  background: var(--inputbackground);
  width: 180px;
  align-items: center;
  border-radius: 6px;
  margin-left: .6rem;
  border: 1px solid var(--inputborder);
  overflow: auto;
  max-height: 400px;
  scrollbar-color: var(--inputborder) white;
  scrollbar-width: thin;
}

.search__result::-webkit-scrollbar, .is__parent::-webkit-scrollbar {
  width: 10px;
}

.search__result::-webkit-scrollbar-track, .is__parent::-webkit-scrollbar {
  background: var(--inputborder);
}

.search__result::-webkit-scrollbar-thumb, .is__parent::-webkit-scrollbar {
  background: var(--inputborder);
}

.search__result::-webkit-scrollbar-thumb:hover, .is__parent::-webkit-scrollbar {
  background: var(--inputborder);
}

.is__parent a {
  padding:0.3rem 0!important;
  width: 100%;
  text-align: center;
  color: var(--textcolor)!important;
}

.menu-item:not(:nth-child(2)) {
  border-top: 1px solid #949699;
  margin-top: .4rem;
}

.menu-item i, .menu-item img {
  padding: 0.8rem 0 0.4rem 0;
}

.menu-item:hover {
  cursor: pointer;
  color: white;
  transition: .6s;
}

.box .box-header {
  color: white;
  margin: 0;
  padding: .7rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.box .box-body {
  border-bottom-left-radius: 6px!important;
  border-bottom-right-radius: 6px!important;
  background: var(--mainbackground) !important;
}

.box-body .article {
  padding: .8rem .5rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.box-body .article div {
  color: white;
  text-decoration: none;
}

.box-body .article:not(:last-child) {
  border-bottom: 1px solid white;
}

.box .box-body p {
  margin: 0;
}

.wiki-box a {
  color: var(--textcolor);
  padding: 0 0.4rem;
}

.wiki-box a i {
  color: var(--textcolor);
}

.alert  {
  min-width: 340px;
  text-align: center;
  color: white !important;
  border: 1px solid #c8c8c8 !important;
  border-radius: 8px;
  font-family: 'Nunito', sans-serif;
}

.alert-success {
  background: #15a31c !important;
}

.alert-danger {
  background: #dd1c1e !important;
}

.form__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
  max-width: 100%;
  list-style: none;
  grid-gap: 10px;
}

div.form__grid label {
  position: relative;
  width: 100%;
  display: flex !important;
  flex-direction: column;
}

span.err {
  position: absolute;
  top: 22%;
  cursor: pointer;
  margin: 0 !important;
  z-index: 100;
}

.modal-content {
  background-color: var(--mainbackground) !important;
  color: var(--textcolor);
}

.modal-content .modal-footer input {
  padding: 0.4rem 1rem;
}

.medium__size {
  font-size: 22px!important;
}

.orange {
  background: var(--orangecolor);
}

.red {
  background: var(--redcolor);
}

.main-color {
  background: var(--mainbackground);
}

.box-body .recent__item {
  min-height: 150px;
  background: white;
  padding: 1rem;
}

.box-body .recent__item:not(:last-child) {
  border-bottom: 1px solid #dedede;
}


.box-body .recent__item:last-child {
  border-bottom-left-radius: 6px!important;
  border-bottom-right-radius: 6px!important;
}

.box-body .recent__item h3 {
  color: #333;
}

.box-body .recent__item a {
  color: #333;
}

.box-body .recent__item p, .box-body .recent__item span  {
  color: #9f9f9f;
}

.menu__btn {
  display: none;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  background: var(--mainbackground);
  align-items: center;
  justify-content: center;
}

.menu__btn i {
  font-size: 38px;
}

.left__menu__closer {
  display: none;
}

.left__menu__closer, .mobile__search__closer {
  display: none;
  position: absolute;
  width: 24px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 150;
}

.main__box {
  margin-left:1rem;
  margin-right:1rem;
}

button.button__not__active {
  background: var(--mainbackground);
}

hr.white {
  border-top: 1px solid white;
}

a.link b {
  color: #337ab7;
}

i {
  color: var(--textcolor);
}

/*BREAKPOINTS*/

@media only screen and (max-width: 1199px) {
  .grid-box {
    grid-template-columns: 10% 90%;
  }
}

@media only screen and (max-width: 992px) {
  .grid-box {
    grid-template-columns: 100%;
  }

  .grid-box-header {
    grid-template-columns: 15% 15% 70%;
  }

  .menu__btn {
    display: flex;
  }

  .left__menu__closer svg {
    position: absolute;
    color: white;
    right: 14px;
    width: 26px;
    top: 8px;
    cursor: pointer;
  }

  .main__box {
    margin-left:0!important;
    margin-right:0!important;
  }
}

.table {
  background: white;
  border-bottom-left-radius: 6px!important;
  border-bottom-right-radius: 6px!important;
  margin: 0!important;
}

.table-responsive {
  margin: 0!important;
}

.wiki__box--search {
  display: flex;
  position: relative;
  margin-right: 1.5rem;
}

.wiki-box__mobile-container {
  height: 62px;
  justify-content: center;
  align-items: center;
  display: none;
  width: 60px;
  background: var(--mainbackground);
  border-radius: 5px;
  font-size: 34px;
  cursor: pointer;
}

.mobile__closer {
  display: none;
}

@media only screen and (max-width: 720px) {
  .wiki__box--search {
    display: none!important;
    left: 0;
    right: 0;
    z-index: 1000;
    position: absolute!important;
    margin-right: 0!important;
    top: 12px;
  }
  .wiki__box--search form, .wiki__box--search form div label input {
    width: 100%;
  }

  .wiki__box--search form div {
    display: block;
  }

  .mobile__closer {
    position: absolute;
    font-size: 30px;
    right: 20px;
    top: 11px;
  }
  .grid-box-header {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .wiki-box__mobile-container {
    display: flex;
  }
}

@media only screen and (max-width: 555px) {
  .grid-box-header {
    grid-template-columns: 15% 25% 25% 25%;
  }
}

@media only screen and (min-width: 720px) {
  .wiki__box--search__for__mobile {
    display: flex;
  }
}

.page__items {
  padding: 0 15px 15px 15px;
}

.page__items .page__item:not(last-child) {
  margin-bottom: 10px;
}

.search__result {
  position: absolute;
  left: 0;
  top: 65px;
  width: 100%;
  background: var(--mainbackground);
  border-radius: 4px;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 200;
  scrollbar-color: var(--inputborder) white;
  scrollbar-width: thin;
}

.search__result a {
  transition: .6s;
}

.search__result a:hover {
  text-decoration: none!important;
  background: var(--inputbackground);
  transition: .6s;
}

.right_arrow__item {
  transition: .6s;
  margin-left: .5rem;
  width: 18px;
}

a.link:hover .right_arrow__item {
  margin-left: 1.5rem;
  width: 22px;
  transition: .6s;
}
