{% extends layout %}

{% block content %}
  <h5 class="p-2">
    It is a system, which gives us 7 skills secondary. You can not skill them like ordinary skills.
  </h5>
  <p class="p-2">
    <b class="text-success">Agility</b> - (max 100 pts) Each point increases your damage absorption by 0.55% (Current status in % can be seen by opening the tab status points).
  </p>
  <p class="p-2">
    <b class="text-danger">Power</b> - (max 100 pts) Each point increases your weapon damage by 0.90% (Current status in % can be seen by opening the tab status points).
  </p>
  <p class="p-2">
    <b class="text-primary">Ki Force</b> - (max 100 pts) Each point increases your spells damage by 0.85% (Current status in % can be seen by opening the tab status points).
  </p>
  <p class="p-2">
    <b style="color: hotpink;">Vitality</b> - (max 100 pts) Each point increases yuour Max Health by 100 and Max Ki by 200 (Current status can be seen by opening the tab status points).
  </p>
  <p class="p-2">
    <b style="color: #960606">Critical</b> - (max 10 pts) Each point increases your Critical Hit change by 1% (Current status can be seen by opening the tab status points).
  </p>
  <p class="p-2">
    <b style="color: darkorange;">Dexterity</b> - (max 10 pts) Each point increases your chance to dodge damage (ki and melee) and 50 movement speed, max 10% dodge and 500 speed (Current status in % can be seen by opening the tab status points).
  </p>
  <p class="p-2">
    <b style="color: rebeccapurple;">Regeneration</b> - (max 10 pts) Each point increases your HP and KI regeneration (every 2 seconds if you are feed) by 15 + level * 0.2 (Current amount regeneration can be seen by opening the tab status points).
  </p>
  <hr style="border-bottom: 1px solid #eee;">

<div class="p-2">

  <div class="row align-items-center mb-3">
    <div class="col-12">
      <h4 class="mb-2"><b>How to get status points?</b></h4>
    </div>
    <div class="col-md-4">
      <img class="img-fluid" src="storage/public/images/k4l5b6k6a4k6t3z6m1g6m5x4i3z5j1g7u2r3m1g0c0r8z9g9t8.png">
    </div>
    <div class="col-md-8">
      <p>
        You can get them from earning Achievements, or doing Quests.
        Status points can be also earned from 10 snake points - which you can get by doing quests. 10 snake points changes to 1 status point automatically.
      </p>
    </div>
  </div>

  <div class="row align-items-center mb-3">
    <div class="col-md-12">
      <h4 class="mb-2"><b>What if i want to change my status skills?</b></h4>
    </div>
    <div class="col-md-1">
      <img class="img-fluid" src="storage/public/images/p6z9j3z5r4t9b8a5e6j4m5t9d3n0e8c7f2m2f2y1y3l0w7g2n4.png">
    </div>
    <div class="col-md-11">
      <p>
        You just need to buy minus points and you get option of possibility to re-add 10 points!
      </p>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-1">
      <img class="img-fluid" src="storage/public/images/t7z3o3p2l5s0g3b9r0p7y0a8d4u8w7g7e8a3g1p0o6r6t9c6z9.png">
    </div>
    <div class="col-md-11">
      <p>
        Or buy status reset from shop and give out points again !
      </p>
    </div>
  </div>

</div>
{% endblock %}
